/*Inicio home*/

.home{
    height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.8855917366946778) 9%, rgba(0,0,0,0.31976540616246496) 100%),
    url(/images/aurora.jpg);
    background-size: cover;
    position: relative;
}

.home::after{
    content: ' ';
    position: absolute;
    filter: blur(10px);
    width: 100%;
    height: 50px;
    bottom: -25px;
    background: #000;
}

.navbar--custom{
    background-color: transparent;
}

.nav-link{
    color: #fff;
}

.nav-link.active{
    color: #E7AF34 !important;
}

.logo-img{
    width: 60px; 
}

.logo h2{
    color: #E7AF34;
}

.account-logo{
    width: 50px;
}

.info-doc-home{
    color: #fff;
}

/*home>catalogo home*/

.home-catalog{
    min-height: 50vh;
    background: rgb(0,0,0);
/* background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(17,16,16,1) 48%, rgba(0,0,0,1) 100%); */
}

/*fin home*/